---
import BaseLayout from '@layouts/BaseLayout.astro'
import hygraph from '@js/hygraph'
export interface Leader {
    designation: string
    description: string
    name: string
    photograph: { url: string }
}

const leaders = (await hygraph('leaders')) as Array<Leader>
---

<BaseLayout title='About'>
    <section>
        <div
            class='container mx-auto px-5 py-10 lg:py-20 flex flex-col lg:flex-row gap-12 lg:gap-28'
        >
            <div
                class='lg:w-1/2 flex items-start justify-center relative h-fit order-1 lg:order-2'
            >
                <img src='/equipment.png' alt='' class='w-full' />
            </div>
            <div
                class='space-y-5 max-w-4xl mt-12 lg:mt-0 lg:w-1/2 order-2 lg:order-1'
            >
                <h1 class='text-5xl mb-8 font-black'>About us</h1>
                <p>
                    Hightec Engineers is a reputed partnership firm established
                    in the year 2014, with the head office based at Margao -
                    Goa, since then the company has evolved with excellence.
                </p>
                <p>
                    The firm is run by a team of energetic and competent
                    workforce under the dedicated supervision of pragmatic
                    leaders. <strong>
                        Since inception the firm has successfully completed
                        various survey works of more than 3000 projects in the
                        field
                    </strong>
                    of Civil Engineering, ranging from Highway Works, Building Works,
                    Land Development, Bridge Works, Property Surveys, in-depth Estimation
                    & Billing and so on.
                </p>
                <p>
                    The team, Hightec Engineers is professionally qualified to
                    perform any given task with utmost dedication, giving
                    importance to quality, efficiency and perfection. The
                    workforce deployed on site carries in-depth knowledge in the
                    survey field to resolve any issue/ problem on site.
                </p>
                <p>
                    Our aim is to use our wealth of techno-legal knowledge and
                    experience to provide an efficient professional service to
                    our clients. We work to save your time and help you to save
                    money.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class='container mx-auto px-5 py-10 lg:py-20'>
            <h2 class='text-5xl mb-8 font-black'>The leadership</h2>
            <div class='grid gap-16 lg:grid-cols-3 mt-16'>
                {
                    leaders.map((person) => (
                        <div class='flex flex-col max-w-md mx-auto'>
                            <img
                                src={person?.photograph.url}
                                alt=''
                                class='aspect-square object-cover overflow-hidden'
                            />
                            <h3 class='text-2xl font-bold mt-4'>
                                {person?.name}
                            </h3>
                            <p class='font-bold italic text-neutral-600'>
                                {person?.designation}
                            </p>
                            <p class='mt-2'>{person?.description}</p>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</BaseLayout>
