---
import BaseLayout from '@layouts/BaseLayout.astro'
import hygraph from '@js/hygraph'

interface Job {
    title: string
    description: {
        html: string
    }
    number: string
}

const jobs = (await hygraph('jobs')) as Array<Job>
---

<BaseLayout title='Careers'>
    <section>
        <div class='container mx-auto px-5 py-10 lg:py-20'>
            <h1 class='text-5xl mb-8 font-black'>Join the team</h1>
            <p class='max-w-4xl'>
                Are you passionate about the construction industry? Join our
                team of dedicated professionals and be a part of building
                remarkable structures. We offer exciting career opportunities,
                competitive compensation packages, and a collaborative work
                environment. Explore our job openings below and take the first
                step towards a rewarding career with us.
            </p>

            <div class='grid gap-12 mt-16 lg:grid-cols-2'>
                {
                    jobs?.map((job) => (
                        <div class='bg-blue-50 p-8'>
                            <div class='flex gap-8 items-start justify-between'>
                                <h2 class='text-3xl font-bold'>{job?.title}</h2>
                                <a
                                    href='#apply'
                                    class='text-lg bg-blue-300 text-black py-2 px-6 font-bold hover:bg-blue-400 transition-all duration-300 hover:scale-105 text-center'
                                >
                                    Apply
                                </a>
                            </div>
                            <div class='prose prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-headings:font-bold prose-p:m-0 prose-headings:mt-2'>
                                <Fragment set:html={job.description.html} />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>

    <section class='mx-5 py-20' id='apply'>
        <div
            class='container mx-auto bg-blue-300/70 p-6 lg:p-8 max-w-4xl flex flex-col lg:flex-row-reverse gap-8 justify-center mt-28 lg:mt-16 lg:items-end'
        >
            <img
                src='/tracktor.png'
                alt=''
                class='max-h-full w-full relative lg:left-28 max-w-md -mt-28'
            />
            <div class='flex flex-col items-start justify-center lg:px-4'>
                <h2 class='text-4xl font-bold'>
                    Come, build your future with us!
                </h2>
                <p class='mt-2'>
                    Ready to lay the foundation for your career in construction?
                    Join our team of builders and shape the future of remarkable
                    structures. Take the next step today and apply for our
                    exciting job opportunities. Let's construct a promising
                    future together!
                </p>
                <p class='mt-8 text-lg'>To apply, please email CV to</p>
                <a
                    href='mailto:management.hightec@gmail.com?subject=Job application'
                    class='lg:text-lg mt-2 bg-black text-blue-300 py-2 px-6 font-bold transition-all duration-300 hover:scale-105 text-center'
                    >management.hightec@gmail.com</a
                >
            </div>
        </div>
    </section>
</BaseLayout>
