---
const { title, image } = Astro.props.feature
---

<div class='lg:-mt-16'>
    <img
        src={image}
        alt=''
        class='aspect-video object-cover relative lg:hover:bottom-2 bottom-0 transition-all duration-300'
    />
    <h3 class='text-xl mt-4'>{title}</h3>
</div>
