<footer class="bg-neutral-900 text-white">
  <div class="container mx-auto px-5 py-10 mt-12 flex justify-between">
    <div class="flex flex-col justify-between">
      <div class="flex flex-col gap-3">
        <div class="flex items-center gap-4 justify-start">
          <a href="//fb.com/hightecengineers"
            ><i class="fa-brands fa-facebook-f text-2xl"></i></a
          >
          <a href="//instagr.am/hightecengineers"
            ><i class="fa-brands fa-instagram text-2xl"></i></a
          ><a href="tel:+918412024400" class="flex gap-2 items-center"
          ><i class="fa-solid fa-phone text-2xl"></i>
        </a>
        <a
          href="mailto:hightecengineers4@gmail.com"
          class="flex gap-2 items-center"
          ><i class="fa-solid fa-envelope text-2xl"></i>
        </a>
        </div>
        
        <a
          href="mailto:hightecengineers4@gmail.com"
          class="flex gap-2 items-center"
          ><i class="fa-solid fa-location-dot text-2xl"></i>
          <span>AG-16, Suyash Garden, <br/>
            Gogol, Margao - Goa.
            </span>
        </a>
      </div>
      <p class="mt-8 text-neutral-400">
        ©2023 Hightec Engineers. All rights reserved.
      </p>
    </div>
    <div class="flex flex-col items-end justify-between">
      <a href="#" class="flex items-center gap-3 opacity-40">
        <img src="/images/logo.svg" alt="" class="h-16" />
        <span class="leading-none">Hightec <br /> Engineers</span>
      </a>
      <a href="//gavinpereira.in" class="group">
        <i class="fa-solid fa-code"></i>
        <span>by</span>
        <span class="font-bold group-hover:underline">Gavin Pereira</span>
      </a>
    </div>
  </div>
</footer>
