<footer class="bg-neutral-900 text-white mt-12 lg:mt-20">
  <div class="container mx-auto px-5 py-5 flex items-center flex-col md:flex-row justify-between gap-4">
      <a href="#" class="flex items-center justify-center md:justify-start gap-3 opacity-40">
        <img src="/images/logo.svg" alt="" class="h-10" />
        <span class="leading-none">Hightec <br /> Engineers</span>
      </a>
      <p class="text-neutral-400 text-center lg:text-right">
        ©2023 Hightec Engineers. All rights reserved.
      </p>
  </div>
</footer>