---
const {header='relative'} = Astro.props
const headerIsAbsolute = header==='absolute'
const navLinks = [
    {title: 'Home', href: '/'},
    {title: 'About', href: '/about'},
    {title: 'Careers', href: '/careers'},
    {title: 'Contact', href: '/contact'},
]
---

<header class:list={[ 'top-0 left-0 w-full z-20', { 'absolute': headerIsAbsolute, 'bg-black': !headerIsAbsolute } ]}>
    <div class="container mx-auto px-5 py-5 flex flex-col md:flex-row items-center text-white justify-between gap-4">
        <a href="/" class="flex items-center gap-2">
            <img src="/images/logo.svg" alt="" class="h-12">
            <span class="leading-none">Hightec <br> Engineers</span>
        </a>
        <nav class="flex items-center gap-4 text-sm md:text-base">
            {navLinks.map(link=><a href={link.href} class="hover:text-yellow-300 transition-colors">{link.title}</a>)}
        </nav>
    </div>
</header>