---
const { title, desc } = Astro.props.project
---

<div class='flex gap-3'>
    <i class='fa-solid fa-square-check text-xl'></i>
    <div>
        <h3 class='font-bold text-xl'>{title}</h3>
        <p>{desc}</p>
    </div>
</div>
