---

const {title, icon} = Astro.props.service
---

<div class="shadow p-4 relative overflow-hidden group">
    <i class:list={['text-3xl lg:absolute opacity-20 lg:opacity-10 lg:text-5xl lg:-top-0 lg:-left-0 lg:group-hover:text-6xl transition-all duration-300', icon]}></i>
    <h3 class="text-lg lg:text-xl mt-2">{title}</h3>
</div>
